nav{
    background-color: $color1;
    color:$color2;
}
.nav-link{
    color:$color2;
}
.navbar-toggler-icon{
    background-image:url("../img/burger.png");
    background-size: cover;
    width: 30px;
    height: 30px;
}

.img-logo-nav:hover{
    transform: rotate(360deg); 
    transition-duration:1.5s;
}
.dropdown{

    background-color: $color1;
    color:$color2;
}