
div{
    background-color: $color1;
        .card-product{
            img{
                width: auto;
            }
            .btn{
                border-radius: 30% ;
                font-weight: bold;
                background-color:$color2;
                color:$color1;
            }
        text-align: center;
        background-color: $color1;
        color:$color2;
        align-items: stretch;
        margin: 15px;
        padding: 3px;
        border-color: $color2;
    }
}
.div-detail{
    margin-top: 10px;
    color:$color2
}
.btn-detail{
    color:$color2;
        button{
            background-color:$color2;
            color:$color1;
            border-radius: 2px;
            margin: 10px;
        }
}