
div{
    background-color: $color1;
        .card-product{
            img{
                width: auto;
            }
            .btn{
                border-radius: 30% ;
                font-weight: bold;
                background-color:$color2;
                color:$color1;
            }
        text-align: center;
        background-color: $color1;
        color:$color2;
        align-items: stretch;
        margin: 15px;
        padding: 3px;
        border-color: $color2;
    }
}